body,
#root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  touch-action: none;
  overscroll-behavior: none;
}

.xr-buttons {
  position: fixed;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 1;
}

.xr-button {
  all: unset;
  width: 4rem;
  height: 4rem;
  background: #7f7f7f80;
  border: 2px solid #cccccc;
  border-radius: 1rem;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
